.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
 }
 
 
 
 /* Hide the right box on smaller screens */
 @media (max-width: 1200px) {
  .right-box {
     display: none;
  }
 }

